[submodule "FNA"]
	path = FNA
	url = https://github.com/fna-xna/fna
[submodule "lib"]
	path = lib
	url = https://github.com/deccer/fna-libs
[submodule "ImGUI"]
	path = ImGUI
	url = https://github.com/ImGuiNET/ImGui.NET
